<a href="https://colab.research.google.com/github/jaybabulkar/LetsUpgrade-Python-Essentials/blob/master/Python_Essentials_Batch_7_Day_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1:- List and its default functions.

# **List**
 
A List is a sequence of values. You can visualize a list as a container that holds a number of items, in a given order.

A List has various methods and functions. 
They are:-
 
append(x), extend(iterable), insert(i,x), remove(x), pop([i]), clear(), index(x[,start[,end]]), count(x), sort(key=None, reverse =False), reverse (), copy()
 
len(s), list([iterable]), max(iterable, *, key, default]), min(iterable, *, key, default]), range(stop).

1.append(x):- Adds an item(x) to the end of the list. This is equivalent to a[len(a):] =[x].

In [ ]:
#Example of append(x)
 
List= ["Cloud", "Rain", 123, 45.67, [8,9,10]]
print(List)
List.append("Weather")
print(List)

['Cloud', 'Rain', 123, 45.67, [8, 9, 10]]
['Cloud', 'Rain', 123, 45.67, [8, 9, 10], 'Weather']

2.remove(x):- Removes the first item from the list that has a value of x. Returns an error if there is no such item.

In [ ]:
#Example of remove(x)
 
List= ["Cloud", "Rain", 123, 45.67, [8,9,10]]
print(List)
List.remove("Rain")
print(List)

['Cloud', 'Rain', 123, 45.67, [8, 9, 10]]
['Cloud', 123, 45.67, [8, 9, 10]]

3.clear():- Removes all items from the list. Equivalent to del a[:].

In [ ]:
#Example of clear()
 
List= ["Cloud ", "Rain", 123, 45.67, [8,9,10]]
print(List)
List.clear()
print(List)

['Cloud ', 'Rain', 123, 45.67, [8, 9, 10]]
[]

 4.count(x):- Returns the number of times x appears in the list.

In [ ]:
#Example of count(x)
 
List= ["Cloud", "Rain", 123, 45.67, [8,9,10], "Rain", 123, 123, "Cloud", "Rain"]
print(List)
 
print(List.count("Cloud"))
print(List.count("Rain"))
print(List.count(123))
print(List.count(45.67))
print(List.count([8,9,10]))

['Cloud', 'Rain', 123, 45.67, [8, 9, 10], 'Rain', 123, 123, 'Cloud', 'Rain']
2
3
3
1
1

5.reverse():- Reverses the elements of the list in place.

In [ ]:
#Example of reverse()
 
List= ["Cloud", "Rain", 123, 45.67, [8,9,10]]
print(List)
List.reverse()
print(List)

['Cloud', 'Rain', 123, 45.67, [8, 9, 10]]
[[8, 9, 10], 45.67, 123, 'Rain', 'Cloud']

.





.

## Question 2:- Dictionary and its default functions.

## **Dictionary**
 
A Dictionary is a collection of key/value pairs. Each key is separated from its value by a colon (:). It is an unordered collection of data values, used to store data values like a map, which unlike other DataTypes that hold only single value as an element, Dictionary holds key:value pair.

A Dictionary has various methods and functions. They are:- 
 
cmp(dict1, dict2), len(dict), str(dict), type(variable) 
 
dict.clear(), dict.copy(), dict.fromkeys(), dict.get(key, default =None), dict.has_key(key), dict.items, dict.keys(), dict.setdefault(key, default =None), dict.update(dict2), dict.values().

1.clear():- Removes all items from the Dictionary.

In [ ]:
#Example of clear()
 
Dict= {'Apple', 'Banana', 'Cherry', 123, 45.67}
print(Dict)
Dict.clear()
print(Dict)

{'Banana', 45.67, 'Cherry', 123, 'Apple'}
set()

2.copy():- Returns a shallow copy of the Dictionary.

In [ ]:
#Example of copy()
 
Dict= {'Apple', 'Banana', 'Cherry', 123, 45.67}
print(Dict)
Dict.copy()

{'Banana', 45.67, 'Cherry', 123, 'Apple'}

{123, 45.67, 'Apple', 'Banana', 'Cherry'}

3.items():- Returns a list of Dictionaries (key, value) tuple pair.

In [ ]:
#Example of items()
 
Dict= {"fruit1": "Apple","fruit2": "Banana", "fruit3": "Cherry", "integer": 123, "float": 45.67}
print(Dict)

{'fruit1': 'Apple', 'fruit2': 'Banana', 'fruit3': 'Cherry', 'integer': 123, 'float': 45.67}

In [ ]:
Dict.items()

dict_items([('fruit1', 'Apple'), ('fruit2', 'Banana'), ('fruit3', 'Cherry'), ('integer', 123), ('float', 45.67)])

4.keys():- Returns list of Dictionary keys.

In [ ]:
#Example of keys()
 
Dict= {"fruit1": "Apple", "fruit2": "Banana", "fruit3": "Cherry", "integer": 123, "float": 45.67}
print(Dict)

{'fruit1': 'Apple', 'fruit2': 'Banana', 'fruit3': 'Cherry', 'integer': 123, 'float': 45.67}

In [ ]:
Dict.keys()

dict_keys(['fruit1', 'fruit2', 'fruit3', 'integer', 'float'])

5.values():- Returns a list of all the values available in a given Dictionary.

In [ ]:
#Example of values()
 
Dict= {"fruit1": "Apple", "fruit2": "Banana", "fruit3": "Cherry", "integer": 123, "float": 45.67}
print(Dict)

{'fruit1': 'Apple', 'fruit2': 'Banana', 'fruit3': 'Cherry', 'integer': 123, 'float': 45.67}

In [ ]:
Dict.values()

dict_values(['Apple', 'Banana', 'Cherry', 123, 45.67])

.



.

## Question 3:- Sets and its default functions.

## **Set**
 
A Set is an unordered collection of items. Set items are unique and immutable.

A Set has various methods and functions. They are:-
 
frozenset(), Set clear(), Set add(), Set copy(), Set difference(), Set difference_update(), Set discard(), Set intersection(), Set intersection_update(), Set isdisjoint(), Set issubset(), Set issuperset(), Set pop(), Set remove(), Set symmetric_difference(), Set symmetric_difference_update(), Set union(), Set update()

1.add():- Adds element to a Set.

In [ ]:
#Example of add()
 
Set= {123, 45.67, "Orange", "Red", "Green"}
print(Set)
Set.add("Blue")
print(Set)

{'Green', 'Orange', 'Red', 45.67, 123}
{'Green', 'Orange', 'Red', 45.67, 'Blue', 123}

2.discard():- Removes an element from the Set.

In [ ]:
#Example of discard()
 
Set= {123, 45.67, "Orange", "Red", "Green"}
print(Set)
Set.discard("Red")
print(Set)

{'Green', 'Orange', 'Red', 45.67, 123}
{'Green', 'Orange', 45.67, 123}

3.issubset():- Checks if a Set is a subset of Another Set.

In [ ]:
#Example of issubset()
 
Set1={123, 45.67, "Orange", "Red", "Green"}
print(Set1)
Set2={"Orange", 45.67}
print(Set2)
Set.issubset(Set1)

{'Green', 'Orange', 'Red', 45.67, 123}
{'Orange', 45.67}

True

4.pop():- Removes an arbitrary element.

In [ ]:
#Example of pop()
 
Set= {123, 45.67, "Orange", "Red", "Green"}
print(Set)
Set.pop()

{'Green', 'Orange', 'Red', 45.67, 123}

'Green'

In [ ]:
print(Set)

{'Orange', 'Red', 45.67, 123}

5.intersection():- Removes the items in this set that are not present in other, specified set(s).

In [ ]:
#Example of intersection()
 
Set1= {123, 45.67, "Orange", "Red", "Green"}
print(Set1)
 
Set2= {89, 10.11, 123, "Blue", "Yellow"}
print(Set2)
 
Set.intersection(Set1, Set2)

{'Green', 'Orange', 'Red', 45.67, 123}
{'Yellow', 10.11, 'Blue', 89, 123}

{123}

.



.

## Question 4:- Tuple and explore default methods.

## **Tuple**
 
Tuple are ordered immutable collection of objects. Once the data is written it's in that forever. It can't be changed.

A Tuple has various default methods. They are:-
 tuple count(), tuple index()
 
cmp(tuple1,tuple2), len(tuple), max(tuple), min(tuple), tuple(seq).

1.len():- Returns the number of elements in the tuple.

In [ ]:
#Example of len()
 
tuple1= ('Jack', 'Jon', 'Jin', 123)
tuple2= ('Rock', 'Ron', 456)
print(tuple1)
print(tuple2)

('Jack', 'Jon', 'Jin', 123)
('Rock', 'Ron', 456)

In [ ]:
len (tuple1)

4

In [ ]:
len (tuple2)

3

2.count():- Counts the number of elements in the Tuple.

In [ ]:
#Example of count()
 
Tuple= ('Jack', 123, 'Jon', 'Jin', 123)
 
Tuple.count(123)

2

 3.index():- Gives the index number of the element in the tuple.

In [ ]:
#Example of index()
 
Tuple= ('Jack', 123, 'Jon', 'Jin')
 
Tuple.index('Jin')

3

4.

4.max():- Returns the element with maximum value from the tuple.

In [ ]:
#Example of max()
 
Tuple= (234, 432, 112, 156, 653, 734, 973)
max(Tuple)

973

5.sorted():- It returns a sorted version of the tuple. The sorting is in ascending order, and it doesn't modify the original tuple in Python.

In [ ]:
#Example of sorted()
 
Tuple= (23, 54, 34, 98, 53, 12, 87)
print(Tuple)
sorted(Tuple)

(23, 54, 34, 98, 53, 12, 87)

[12, 23, 34, 53, 54, 87, 98]

.




.

## Question 5:- Strings and explore default methods.

## **Strings**
 
A String is a sequence of unicode characters. Unicode was introduced to include every character of all languages and bring uniformity in encoding.

A String has various default methods. They are:-
 
capitalize(), casefold(), center(), count(), endswith(), expandtabs(), find(), format(), format_map(), index(), isalnum(), isalpha(), isdecimal(), isdigit(), isidentifier(), islower(), isnumeric(), isprintable(), isspace(), istitle(), isupper(), join(), ljust(), lower(), lstrip(), makettans(), partition(), replace(), rfind(), rindex(), rjust(), rpartition(), rsplit(), rstrip(), split(), splitlines(), startwith(), strip(), swapcase(), title(), translate(), upper(), zfill().

1.casefold():- Converts string into lower case.

In [ ]:
#Example of casefold()
 
str = "Hello Everyone, Good Morning!"
print (str)

Hello Everyone, Good Morning!

In [ ]:
X=str.casefold()
print(X)

hello everyone, good morning!

2.islower():- Checks if all the characters in the text are in lower font.

In [ ]:
#Example of islower()
 
str = "Hello Everyone, Good Afternoon!"
print(str)

Hello Everyone, Good Afternoon!

In [ ]:
x= str.islower()
print (x)

False

3.isprintable():- Returns True if all the characters in the string are printable.

In [ ]:
#Example of isprintable()
 
str = "Hello Everyone, Good Day!"
print(str)

Hello Everyone, Good Day!

In [ ]:
x= str.isprintable()
print(x)

True

4.isidentifier():- Returns True if the string is an identifier.

In [ ]:
#Example of isidentifier()
 
str = "Hello Everyone, I won 100 rupees!"
print(str)

Hello Everyone, I won 100 rupees!

In [ ]:
x=str.isidentifier()
print(x)

False

5.encode():- Returns an encoded version of the string.

In [ ]:
#Example of encode()
 
str= "Hello Everyone, Nice to see you!"
print(str)

Hello Everyone, Nice to see you!

In [ ]:
X=str.encode()
print(X)

b'Hello Everyone, Nice to see you!'